$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;
.mui-row,
.mui-content {
    background: transparent !important;
}

li {
    list-style-type: none;
}

[v-cloak] {
    display: none;
}

.tc {
    text-align: center;
}

.white {
    color: #fff !important;
}

.theme_bg {
    background: url(../images/theme_bg.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
}

//图片自适应
@mixin img($w, $h) {
    width: 100%;
    height: 100%;
    max-width: $w;
    max-height: $h;
}

// 背景图片地址和大小
@mixin bis($url) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

@mixin bisx($url) {
    background-image: url($url);
    background-repeat: repeat-x;
    background-size: 100% 100%;
}

@mixin borderRadius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

//等比缩放
@mixin zoom($w, $h) {
    width: 100%;
    height: 100%;
    max-width: $w;
    max-height: $h;
}

//定位全屏
@mixin allcover {
    position: absolute;
    top: 0;
    right: 0;
}

//定位上下左右居中
@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

//定位上下居中
@mixin ct {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

//定位上下居中
@mixin cl {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

//宽高
@mixin wh($width, $height) {
    width: $width;
    height: $height;
}

//最大宽高
@mixin mwh($width, $height) {
    max-width: $width;
    max-height: $height;
}

//字体大小、行高、字体
@mixin font($size, $line-height, $family: 'Microsoft YaHei') {
    font: #{$size}/#{$line-height} $family;
}

//字体大小，颜色
@mixin sc($size, $color) {
    font-size: $size;
    color: $color;
}

//flex 布局和 子元素 对其方式
@mixin fj($type: space-between) {
    display: flex;
    justify-content: $type;
}


/*内阴影+圆角*/

@mixin brs($br, $sh, $c) {
    border-radius: $br;
    -webkit-box-shadow: inset 0 0 $sh rgba(0, 0, 0, .3);
    background-color: $c;
}


/*边框颜色*/

@mixin bc($c) {
    border: 1px solid $c;
}
