.account {
    .top {
        height: 2rem;
        background: #4194c3;
        .tc {
            color: #fff;
            line-height: 2rem;
        }
    }
    .account-content {
        .left {
            font-size: 0.8rem;
            border-right: 1px solid #e0e6ef;
            .bl {
                border-left: 2px solid #3a84c3;
                padding-left: 0.8rem;
            }
            .icon {
                @include img(1.5rem, 1.5rem);
            }
            .mui-navigate-right {
                display: flex;
                .mui-media-body {
                    margin: auto 0;
                }
            }
            li.active {
                background: #e4eaf4;
            }
        }
        .right {
            .list {
                position: absolute;
                left: 0;
                top: 2rem;
                width: 100%;
                height: 100%;
                .table-view {
                    &:before {
                        background-color: transparent;
                    }
                    img {
                        @include img(5rem, 5rem);
                        margin-top: 4rem;
                    }
                }
            }
        }
    }
}

.table-view {
    background-color: #eff5ff;
    &.none-list {
        .tc {
            color: #76797e;
            padding-right: 0.8rem;
            padding-top: 1rem;
        }
        img {
            margin: auto;
            display: block;
        }
        &:after {
            background-color: transparent;
        }
    }
}

.table-view-cell:after {
    left: 0;
    background-color: #e0e6ef;
}

.mui-table-view-cell:last-child:after{
    background-color: transparent;
}

.show {
    display: block;
}

.mui-icon-back:before,
.mui-icon-left-nav:before {
    color: #fff;
}
